@charset "utf-8";
* {
	font-family: 'Montserrat', 'Gothic A1', sans-serif;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
	-webkit-text-size-adjust: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	word-break: keep-all;
}

body {
	color: #fffaf6;
	background-color: #000000;
	font-size: 62.5%;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-align: center;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 2vw;
	color: #f4a7ba;
	text-align: left;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3.6em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2.4em;
}

h5 {
	font-size: 2em;
}

h6 {
	font-size: 1.6em;
}

ul,
ol,
dl {
	list-style: none;
}

table {
	border-collapse: collapse;
}

img {
	max-width: 100%;
	border: 0;
	vertical-align: top;
}

a {
	display: inline-block;
	overflow: visible;
	cursor: pointer;
	padding: 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	onfocus: blur;
}

a,
a:link {
	text-decoration: none;
}

a:hover,
a:active,
a:focus {}

a[class*="btn"] {
	position: relative;
	padding: .5em 1.5em .45em;
	color: #000000;
	border: 3px solid #fffaf6;
	background-color: #fffaf6;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a[class*="btn"].active,
a[class*="btn"]:hover,
a[class*="btn"]:active,
a[class*="btn"]:focus {
	color: #fffaf6;
	background-color: transparent !important;
	box-shadow: 0 0 10px #f4a7ba;
	z-index: 9;
}

a.btn-navy {
	color: #ffffff;
	background-color: #203551;
	border: 3px solid #203551;
}

a.btn-navy:hover,
a.btn-navy:active,
a.btn-navy:focus {
	color: #203551;
	background-color: #FFFFFF;
}

strong {
	font-family: 'ITC Avant Garde Gothic W01 Bd', 'Gothic A1', sans-serif;
	font-weight: 700;
}

video {
	background: transparent;
}

.hidden {
	display: none;
}

.row {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.row:last-child {
	margin-bottom: 0;
}

.col > span,
.col > a {
	vertical-align: middle;
}

.col > a > span {
	position: relative;
	display: block;
}

.col-half {
	width: 47.92%;
}

.colgroup {
	margin-bottom: 2%;
	overflow: hidden;
}

.colgroup:last-child,
.colgroup.single {
	margin-bottom: 0;
}

#wrap {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 970px;
	margin: 0 auto;
}

.container-fluid {}

[class*="bg-"] {
	background-position: top center;
	background-repeat: no-repeat;
}

[class*="bg-"].repeat {
	background-repeat: repeat;
}

[class*="bg-"].contain {
	background-size: contain;
}

[class*="bg-"].cover {
	background-size: cover;
}

.bg-pink {
	background-color: #f4a7ba;
}

.bg-ivory {
	background-color: #fffaf6;
}

.bg-gray {
	background-color: #e7e7e7;
}

.bg-black {
	background-color: #000000;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

.carousel {
	position: relative;
}

.carousel-inner {
	position: relative;
	overflow: visible;
	width: 100%;
}

.carousel-inner > .item {
	display: none;
	position: relative;
	-webkit-transition: 0.6s ease-in-out left;
	-o-transition: 0.6s ease-in-out left;
	transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
	.carousel-inner > .item {
		-webkit-transition: -webkit-transform 0.6s ease-in-out;
		-moz-transition: -moz-transform 0.6s ease-in-out;
		-o-transition: -o-transform 0.6s ease-in-out;
		transition: transform 0.6s ease-in-out;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000px;
		-moz-perspective: 1000px;
		perspective: 1000px;
	}

	.carousel-inner > .item.next,
	.carousel-inner > .item.active.right {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		left: 0;
	}

	.carousel-inner > .item.prev,
	.carousel-inner > .item.active.left {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		left: 0;
	}

	.carousel-inner > .item.next.left,
	.carousel-inner > .item.prev.right,
	.carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
	display: block;
}

.carousel-inner > .active {
	left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-inner > .next {
	left: 100%;
}

.carousel-inner > .prev {
	left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
	left: 0;
}

.carousel-inner > .active.left {
	left: -100%;
}

.carousel-inner > .active.right {
	left: 100%;
}

.carousel-control {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 15%;
	opacity: 0.5;
	filter: alpha(opacity=50);
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0);
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
	left: auto;
	right: 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:hover,
.carousel-control:focus {
	outline: 0;
	color: #fff;
	text-decoration: none;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	z-index: 5;
	display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
	left: 50%;
	margin-left: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
	right: 50%;
	margin-right: -10px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
	width: 20px;
	height: 20px;
	line-height: 1;
	font-family: serif;
}

.carousel-control .icon-prev:before {
	content: '\2039';
}

.carousel-control .icon-next:before {
	content: '\203a';
}

.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	border: 1px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators .active {
	margin: 0;
	width: 12px;
	height: 12px;
	background-color: #fff;
}

.carousel-caption {
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
	text-shadow: none;
}

@media screen and (min-width: 768px) {

	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right,
	.carousel-control .icon-prev,
	.carousel-control .icon-next {
		width: 30px;
		height: 30px;
		margin-top: -10px;
		font-size: 30px;
	}

	.carousel-control .glyphicon-chevron-left,
	.carousel-control .icon-prev {
		margin-left: -10px;
	}

	.carousel-control .glyphicon-chevron-right,
	.carousel-control .icon-next {
		margin-right: -10px;
	}

	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
	}

	.carousel-indicators {
		bottom: 20px;
	}
}

#content {
	position: relative;
}

#logo-motion {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	background-size: 100%, 100%;
}

#logo-motion .logo-motion-area {
	position: absolute;
	width: 100%;
	height: 100%;
}

#logo-motion .logo-motion-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#logo-motion img {
	width: 100%;
	max-width: 970px;
}

#posters,
#posters .container,
#posters .poster {
	position: relative;
	overflow: visible;
}

#posters .poster {
	display: inline-block;
	border: 1px solid #fffaf6;
	box-shadow: 0 0 10px #f4a7ba;
}

#posters .poster:hover {
	box-shadow: 0 0 20px 2px #f4a7ba;
}

#ticket {
	width: 100%;
	color: #f4a7ba;
	text-align: center;
}

#ticket h2 {
	color: #fffaf6;
	text-align: center;
}

#ticket p {
	margin-bottom: 1em;
	font-size: 2em;
}

#ticket p strong {
	font-size: .75em;
	color: #fffaf6;
}

#ticket a {
	margin-top: 1em;
	font-size: 1.6em;
	font-weight: 700;
}

#about {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}

#info .row {
	margin-bottom: .75em;
	padding-bottom: .75em;
	border-bottom: 1px solid #f4a7ba;
}

#info .col {
	text-align: left;
	vertical-align: middle;
}

#info .col.title {
	font-weight: 700;
}

#tour {}

#tour .about-tour {
	padding: 2em;
	border: 5px solid #f4a7ba;
	line-height: 160%;
}

#schedule .row {
	color: #000000;
	background-color: #f4a7ba;
	margin-bottom: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#schedule .row:hover {
	position: relative;
	background-color: #ffffff;
	box-shadow: 0 0 10px #f4a7ba;
	z-index: 9;
}

#schedule .row.past {
	opacity: 0.7;
    filter: alpha(opacity=70);
}
#schedule .row.past:hover {
	background-color: #f4a7ba;
	box-shadow: none;
}

#schedule .col {
	text-align: left;
}

#schedule .col > span,
#schedule .col > a {
	display: block;
	padding: 1em 0;
}

#schedule .col.city {
	font-weight: 700;
}

#schedule .col a {
	color: #000000;
	box-shadow: none;
}

#schedule .col a.buy {
	font-weight: 700;
	color: #ffffff;
	border-color: #f4a7ba;
	background-color: #000000;
}

#schedule .col a.buy:hover {
	color: #000000;
	border-color: #ffffff;
	background-color: #f4a7ba !important;
}

#schedule .col a.buy > span {
	margin-top: -3px;
}

#schedule .col a.coming {
	color: rgba(0,0,0,0.3);
}

#schedule .col a.soldout {
	border: none;
	background: transparent;
}

#multimedia {
	background-image: url(bg-blackpink.png);
	background-repeat: no-repeat;
}

#videos iframe,
#streaming iframe {
	border: 5px solid #f4a7ba;
}

#videos {}

#videos .video-embed-area {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

#videos .video-embed-area iframe,
#videos .video-embed-area video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#videos .video-list {
	margin-top: 2.5%;
	overflow: visible;
}

#videos .video-list a {
	display: block;
	padding: 1em;
}

#videos .video-list a.active > span,
#videos .video-list a:hover > span,
#videos .video-list a:active > span,
#videos .video-list a:focus > span {
	font-weight: 700;
}

#videos .video-list span {
	display: block;
	font-size: 1.3em;
}

#streaming {}

#streaming .streaming-content {}

.message {
	font-family: 'Roboto Mono', 'Montserrat', 'Gothic A1', monospace, sans-serif;
	overflow: none;
	color: #000000;
}

.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.8s infinite;
	-moz-animation: blink 0.8s infinite;
	animation: blink 0.8s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.typed-fade-out {
	opacity: 0;
	animation: 0;
	transition: opacity .25s;
}


#footer .logo-blackpink img {
	width: 33%;
	max-width: 120px;
}

@media (min-width: 970px) {
	.container {
		padding: 0 5vw 5vw;
	}

	.container-fluid {
		padding-bottom: 5vw;
	}

	.row {
		display: table;
	}

	.row > .col {
		display: table-cell;
	}

	#content {
		overflow: hidden;
	}

	#content h2 {
		font-size: 2.4vw;
	}

	#logo-motion {
		background-image: url(logo-motion.jpg);
	}

	#posters .poster {
		margin-left: 1em;
	}

	#posters .poster:first-child {
		margin-left: 0;
	}

	#posters .poster img {
		max-height: 300px;
	}

	#ticket {
		margin-bottom: -15vw;
	}

	#about {
		margin-top: -14vw;
		background-image: url(logo-motion.jpg);
	}

	.message {
		min-height: 51vw;
		padding-top: 20vw;
		font-size: 2vw;
		line-height: 3.6vw;
	}

	#info,
	#tour {
		font-size: 1.8em;
	}

	#info .col:nth-of-type(1) {
		width: 25%;
	}

	#info .col:nth-of-type(2) {
		width: 75%;
	}

	#tour .about-tour p > span {
		display: inline-block;
		margin-left: .5em;
	}

	#tour .about-tour p > span:first-child {
		margin-left: 0;
	}

	#schedule {
		font-size: 1.45em;
		letter-spacing: -0.025em;
	}

	#schedule .col:nth-of-type(1) {
		width: 23%;
	}

	#schedule .col:nth-of-type(2) {
		width: 18%;
	}

	#schedule .col:nth-of-type(3) {
		width: 43%;
	}

	#schedule .col:nth-of-type(4) {
		width: 16%;
	}

	#schedule .col > span:first-child {
		padding-left: 1em;
	}

	#schedule .ticket {
		position: relative;
		height: 1em;
	}

	#schedule .ticket a {
		position: absolute;
		width: 100%;
		height: 100%;
		min-height: 47px;
		left: 0;
		top: 0;
	}

	#content #multimedia {
		background-position: bottom center;
		background-size: cover;
	}

	#videos,
	#streaming {
		max-width: 50%;
	}

	#footer .container {
		padding-top: 5vw;
	}

	.mfp-container {
		height: auto !important;
		padding: 8% !important;
	}
}


@media (max-width: 969px) {
	[class*="col-"] {
		width: 100%;
	}

	.container {
		padding: 0 6vw 12vw 6vw;
	}

	.container-fluid {
		padding-bottom: 12vw;
	}

	#content h2 {
		font-size: 6.4vw;
	}

	#logo-motion {
		background-image: url(logo-motion.jpg);
	}

	#posters .poster {
		max-width: 50%;
		margin-top: 1em;
	}

	#posters .poster:first-child {
		margin-top: 0;
	}

	#ticket {
		margin-bottom: -22vw;
	}

	#about {
		margin-top: -20vw;
		background-image: url(logo-motion.jpg);
	}

	.message {
		min-height: 77vw;
		padding: 30vw 0 0;
		font-size: 3.2vw;
		line-height: 5.4vw;
	}

	#info,
	#tour {
		font-size: 1.6em;
	}

	#info .col.title {
		margin-bottom: .25em;
	}

	#info .col span {
		display: block;
	}

	#info .col span.partition {
		display: none;
	}

	#tour .about-tour p > span {
		display: block;
	}

	#schedule {
		font-size: 1.6em;
	}

	#schedule .row {
		padding: 1.5em 1.5em 1.25em;
		margin-bottom: 4px;
	}

	#schedule .col {
		text-align: center;
	}

	#schedule .col.city {
		font-size: 1.4em;
	}

	#schedule .col > a {
		display: inline-block;
		padding: 1em;
	}

	#schedule .col > span {
		padding: 0;
		margin-bottom: .5em;
	}

	#content #multimedia {
		padding-bottom: 75vw;
		background-position: bottom right;
		background-size: 180%;
	}

	#footer .container {
		padding-top: 12vw;
	}

	.mfp-container {
		height: auto !important;
		padding: 4% !important;
	}
}

@media screen and (max-aspect-ratio: 1/1) {}


@media (max-width: 480px) {
	#logo-motion {
		background-image: url(logo-motion.jpg)
	}

	#about {
		background-image: url(logo-motion.jpg);
	}
}

@media (max-width: 320px) {
	#logo-motion {
		background-image: url(logo-motion.jpg)
	}
}

@media only screen and (orientation: landscape) {}


